<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @page { margin: 0; }
        body {
            padding: 100px;
            margin: 0;
        }
        table {
            width: 100%;
        }
        .table-main, .table-logo{
            text-align: center;
        }
        .table-logo {
            width: 60%;
        }
        .table-main td, .table-main th {
            padding: 10px;
        }
        ul {
            list-style: none;
        }
        .product-name-table {
            width: 50%;
        }

        .table-main tr:nth-child(even) {
            background-color: #dddddd;
        }

        .table-footer td {
            text-align: end;
        }

    </style>
<body>
    <table class="table-header">
        <tr>
            <td>
                <table>
                    <tr>
                        <td >Faktura numer:</td>
                        <td >20/05/1/1<p/>
                    </tr>
                    <tr>
                        <td>Data wystawienia:</td>
                        <td>2020/05/1<p/>
                    </tr>
                    <tr>
                        <td>Data sprzedazy:</td>
                        <td>2020/05/1<p/>
                    </tr>
                    <tr>
                        <td>Termin zaplaty:</td>
                        <td>2020/05/15<p/>
                    </tr>
                </table>
            </td>
            <td class="table-logo">
                <h1>Logo here</h1>
            </td>
        </tr>
    </table>

    <hr>

    <table>
        <tr>
            <th>Sprzedawca</th>
            <th>Nabywca</th>
        </tr>
        <tr>
            <td> Bzy bzy ltd</td>
            <td> Ola boga ltd</td>
        </tr>
        <tr>
            <td> Bzycza 9 66-222 Bzyczowo</td>
            <td> Ola 17 99-66 Bogowa</td>
        </tr>
        <tr>
            <td> NIP 96666666666 </td>
            <td> NIP 17996666666 </td>
        </tr>
        <tr>
            <td> Email: bzybzy@tomy.pl </td>
        </tr>
        <tr>
            <td> Nr konta: 6666 6666 6666 6666 </td>
        </tr>
    </table>

    <table class="table-main">
        <tr>
            <th class="product-name-table">Nazwa towaru/ uslugi</th>
            <th>Ilosc</th>
            <th>Wartosc netto</th>
            <th>Vat</th>
            <th>Wartosc brutto</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
    </table>

    <hr>

    <table class="table-footer">
        <tr>
            <td class="product-name-table"></td>
            <td></td>
            <td></td>
            <td>Sum</td>
            <td>$180</td>
        </tr>
    </table>
    <p>Spacznego bzyczenia zyczy firma udlaw sie</p>
</body>
</html>