{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'test'|trans([], 'main') }}</h1>
        <a href="{{ path('pl') }}">PL</a>
        <a href="{{ path('en') }}">EN</a>
    </div>
{% endblock %}
