{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    <div class="text-right">
        {% block header_right %}{% endblock %}
    </div>
    <table class="table table-striped bg-light">
        <thead>
            <tr>
                {% block table_head %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% block table_body %}{% endblock %}
        </tbody>
    </table>
    <div class="navigation">
        {% block navigation %}{% endblock %}
    </div>
{% endblock %}