{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <form class="form-inline">
            <input 
                class="form-control mr-sm-2 searchInput"
                type="search"
                placeholder="{{ 'search'|trans([], 'main') }}"
                aria-label="Search"
            >
        </form>
        {% block header_right %}{% endblock %}
    </div>
    <table class="table table-striped bg-light">
        <thead>
            <tr>
                {% block table_head %}{% endblock %}
            </tr>
        </thead>
        <tbody id="myTable">
            {% block table_body %}{% endblock %}
        </tbody>
    </table>
    <div class="navigation">
        {% block navigation %}{% endblock %}
    </div>
{% endblock %}